@import 'tailwindcss';

@layer base {
    body {
        @apply bg-neutral-900 text-white
    }
    body {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
}